.login-page {
  background: url("../assets/pexels-engin-akyurt-1486861.jpg");
    height: 100vh;
    background-size: cover;
  }
  
  
  a {
    color: rgb(0, 162, 255);
  }
  
  .login-page-container {
    background-color: rgb(255, 254, 254);
    display: flex;
    justify-content: center;
    justify-self: center;
    max-width: 350px;
    max-height: 350px;
    /* margin-left: auto;
    margin-right: auto; */
    padding: 10px;
    min-width: 250px;
    width: 20%;
    border-radius: 10px;
    -webkit-box-shadow: -1px 1px 3px 9px rgba(141, 137, 137, 0.411);
    -moz-box-shadow: -1px 1px 3px 9px rgba(141, 137, 137, 0.411);
    box-shadow: -1px 1px 3px 9px rgba(141, 137, 137, 0.411);
    align-items: center;
    padding-left: auto;
    position: absolute;
    top: 30%;
    right: 45%;
  }
  
  .login-form {
    width: 100%;
  }
  
  .input-field {
    width: 100%;
  }
  
  #loginBtn {
    margin-top: 20px;
    width: 100%;
  }
  
  .login-form-container {
    height: 100%;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px 20px;
  }

  .login-form-container input {

  }